.umnHeaderMainNavLinksUl,
.umnHeaderMainNavLinksUl-header {
  margin: 0;
  list-style-type: none;
  display: none;
}

.umnHeaderMainNavLinksUl-header {
  position: absolute;
  right: 54px;
  top: 8px;
}

@media (max-width: 775px) {
  .umnHeaderMainNavLinksUl-header {
    display: none;
  }
  .umnHeaderMainNavLinksUl {
    display: block;
  }
}
@media (min-width: 776px) {
  .umnHeaderMainNavLinksUl-header {
    display: block;
  }
  .umnHeaderMainNavLinksUl {
    display: none;
  }
}

.umnHeaderMainNavLinksLi {
  margin: 0;
  display: inline-block;
  margin-left: 1.25rem;
}

.umnHeaderMainNavLinksA,
.umnHeaderMainNavLinksA-header {
  text-decoration: none;
  color: #404d5b;
}
.umnHeaderMainNavLinksA-header {
  color: #fff;
}
.umnHeaderMainNavLinksA:hover,
.umnHeaderMainNavLinksA:focus {
  text-decoration: underline;
  color: #404d5b;
}
.umnHeaderMainNavLinksA-header:hover,
.umnHeaderMainNavLinksA-header:focus {
  text-decoration: underline;
  color: #fff;
}
