__tests__/*
.vscode
coverage/*
node_modules
src
.babelrc
.eslintignore                                  
.eslintrc.json 
.gitignore
.npmignore
webpack.config.js
.github/*
.git



*.tgz
.DS_Store
/dev
/util

